<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Insurance">

<listeners>
<listener class-name="ListenerDemo.ListenerProgram">
</listener>

</listeners>

  <test name="Regression">
<classes>
<class name="ListenerDemo.VehicleInsurance">

</class>


</classes>

  </test> 
</suite> 
